<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Mini - Link | shorten your URLs in a short time and get to use it anytime, anywhere">
    <title>Mini - Link || Shorten your links swiftly</title>
</head>
<body>
    <h1 class="font-bold">Welcome to Mini -  link</h1>
    <form action="/" method="post">
        <label for="link" id="link"> Input your long URL</label>
        <input type="text" name="link" id="link-input">
        <input type="submit" value="Shorten">
    </form>

    <% if (locals) { %>
     <div><%= locals.message %></div>
    <% } %>
</body>
</html>