@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply w-full;
    background-color: #c99dd4;
}
.containerr{
    @apply z-10 relative;
   background-image: url("/images/kennedy.png");
   background-repeat: no-repeat;
   background-size: 300px;
   background-position: 420px 140px;
}
.containerr::after{
    content: "";
    @apply block w-full h-full bg-primary-500 absolute top-0 left-0 opacity-30 -z-10;
}
@media screen and (max-width:400px){
    .containerr{
        background-size: 200px;
        background-position: 150px 220px;
    }
}
.btnbg{
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: 170px 0px;
    
    background-image: url("/images/LoDi-arrow\ moving\ with\ dots-2024-02-15-02_33_14-0fj3b2yxxgeh9yqlhcrw1c.png");
}